SECRET_KEY=секретный_ключ_джанго

DEBUG=режим_разработки

EMAIL_HOST=smtp_сервер
EMAIL_PORT=порт_smtp_сервера
EMAIL_USE_SSL=использовать_шифрование_ssl_или_нет
EMAIL_HOST_USER=логин_на_почте
EMAIL_HOST_PASSWORD=пароль_приложения
DEFAULT_FROM_EMAIL=логин_на_почте

FIREBASE_API_KEY=ключ_доступа_к_firebase_приложению

# настройки БД PostgreSQL
DB_NAME=название бд
DB_USER=имя_пользователя_бд
DB_PASSWORD=пароль_пользователя_бд
DB_HOST=адрес_сервера_бд
DB_PORT=порт_который_слушает_бд

TELEGRAM_BOT_TOKEN=токен_телеграмм_бота
PERSONAL_CHAT_ID=id_личного чата_в_телеграмм

SITE_URL=http://127.0.0.1:8000

# YooKassa настройки
YOOKASSA_SHOP_ID=ваш shop_id (подставьте свои цифры)
YOOKASSA_SECRET_KEY=ваш секретный_ключ
YOOKASSA_RETURN_URL=url_для_возврата