{% extends "layouts/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "users/css/layouts/profile_base.css" %}">
{% endblock styles %}

{% block page_content %}
<div class="profile-container">
  <!-- Боковое меню -->
  <aside class="profile-sidebar">
    <div class="user-info">
      <div class="avatar">
    {# Проверяем аватарку просматриваемого профиля ИЛИ аватарку текущего пользователя из request #}
    {% if profile_user.avatar or not profile_user and request.user.avatar %}
        <img src="{% if profile_user.avatar %}{{ profile_user.avatar.url }}{% else %}{{ request.user.avatar.url }}{% endif %}" 
             alt="{{ profile_user.username|default:request.user.username }}">
    {% else %}
        <div class="avatar-placeholder">
            {{ profile_user.username|default:request.user.username|first|upper }}
        </div>
    {% endif %}
</div>
      <h3>{{ profile_user.username }}</h3>
      <p class="user-email">{{ profile_user.email }}</p>
    </div>

    <nav class="profile-nav">
      <ul>
        <li>
          <a href="{% url 'users:profile' username=profile_user.username|default:user.username %}"
            class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
            <i class="bi bi-person me-2"></i>Профиль
          </a>
        </li>
        {% if not profile_user or request.user == profile_user %}
          <li>
            <a href="{% url 'ads:my_favorites' %}"
              class="{% if request.resolver_match.url_name == 'my_favorites' %}active{% endif %}">
              <i class="bi bi-bookmark me-2"></i>Избранное
            </a>
          </li>
          <li>
            <a href="{% url 'users:settings' %}"
              class="{% if request.resolver_match.url_name == 'settings' %}active{% endif %}"> 
              <i class="bi bi-gear me-2"></i>Настройки 
            </a>
          </li>
          <li>
            <form method="POST" action="{% url 'users:logout' %}" class="nav-link-form">
              {% csrf_token %}
              <button type="submit" class="nav-link-button">
                <i class="bi bi-box-arrow-right me-2"></i>Выйти
              </button>
            </form>
          </li>
        {% endif %}
      </ul>
    </nav>
  </aside>

  <!-- Основной контент -->
  <main class="profile-content">
    {% block profile_page_content %}{% endblock profile_page_content %}
  </main>
</div>
{% endblock page_content %}