{% extends "users/emails/base_email.html" %}

{% block header_bg %}#ffc107{% endblock %}
{% block header_title %}Продвижение активировано! 🚀{% endblock %}

{% block content %}
<p>К вашему объявлению <b>«{{ ad.title }}»</b> применены новые услуги:</p>
<ul style="background: #fff9db; padding: 15px 35px; border-radius: 5px; border: 1px solid #ffe066; list-style: none;">
  {% if ad.promotion.is_vip %}<li>⭐ <b>VIP-статус:</b> приоритет в списке</li>{% endif %}
  {% if ad.promotion.is_urgent %}<li>🔥 <b>Срочно:</b> значок огонька</li>{% endif %}
  {% if ad.promotion.is_colored %}<li>🎨 <b>Цвет:</b> яркая рамка</li>{% endif %}
  {% if ad.promotion.is_top %}<li>🔝 <b>ТОП:</b> поднятие в верх</li>{% endif %}
</ul>
<p>Это поможет привлечь больше покупателей!</p>
{% endblock %}
</html>