{% extends 'layouts/base.html' %}

{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/ad_card.css' %}">
{% endblock styles %}

{% block page_title %}
  {% if title %}{{ title }}{% else %}Все объявления{% endif %}
{% endblock %}

{% block page_content %}

<div class="mb-4 mt-4 px-3">
    <a href="javascript:history.back()" class="btn btn-outline-secondary shadow-sm">
      <i class="bi bi-arrow-left me-1"></i> Назад
    </a>
  </div>

<div class="container mt-4">
    <h1>{% if title %}{{ title }}{% else %}Все объявления{% endif %}</h1>
    
    {% include 'ads/includes/ad_list_container.html' %}
    
</div>

<script type="module" src="{% static 'js/favorites.js' %}"></script>
<script type="module" src="{% static 'js/ad_list.js' %}"></script>
{% endblock page_content %}