{% extends 'layouts/base.html' %}

{% load static %}

{% block page_title %}
  {% if title %}{{ title }}{% else %}Все объявления{% endif %}
{% endblock %}

{% block page_content %}
<div class="container mt-4">
    <h1>{% if title %}{{ title }}{% else %}Все объявления{% endif %}</h1>
    
    {% include 'ads/includes/ad_list_container.html' %}
    
</div>

<script type="module" src="{% static 'js/favorites.js' %}"></script>
<script type="module" src="{% static 'js/ad_list.js' %}"></script>
{% endblock page_content %}