{% extends 'layouts/base.html' %}

{% block page_title %}{{ title }}{% endblock page_title %}

{% block page_content %}
<div class="container mt-4">
    <div class="mb-4">
        <a href="javascript:history.back()" class="btn btn-outline-secondary shadow-sm">← Назад</a>
    </div>

    {# Переменная title уже содержит и текст, и решетку #}
    <h1>{{ title }}</h1>

    {% if ads %}
        {% include 'ads/includes/ad_list_container.html' %}
    {% else %}
        <p>С этим тегом объявлений нет.</p>
    {% endif %}
</div>
{% endblock page_content %}
