{% extends 'base.html' %}

{% block page_title %}Объявления в категории {{ category.name }}{% endblock page_title %}

{% block page_content %}
<div class="container mt-4">
  <div class="mb-4">
    <a href="javascript:history.back()" class="btn btn-outline-secondary shadow-sm">← Назад</a>
  </div>
  <h1>Объявления в категории: {{ category.name }}</h1>
  
  {% if ads %}
    {% comment %} {% for ad in ads %} {% endcomment %}
      {% include 'ads/includes/ad_list_container.html' %}
    {% comment %} {% endfor %} {% endcomment %}
  {% else %}
    <p>В этой категории пока нет объявлений.</p>
  {% endif %}
</div>
{% endblock page_content %}