* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

header {
  font-size: 30px;
  color: red;
  text-align: center;
}

nav {
  font-size: 20px;
  text-align: center;
  color: blueviolet;
}