.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  opacity: 0;
  transition: all 0.3s;
}

.show {
  opacity: 1;
}

.scroll-to-top.disabled {
  cursor: default;
}

.scroll-to-top:hover {
  transform: translateY(-5px);
}

.scroll-to-top:active {
  transform: translateY(2px);
}