{% extends 'base.html' %}

{% block page_title %} Публикация объявления {% endblock page_title %}

  {% block page_content %}
    <h1>Создать новое объявление</h1>
    
    <form method = "POST" enctype="multipart/form-data">
      {% csrf_token %}

      {% for field in form %}
        <div>
          {{ field.label_tag}}
          {{ field }}
          {{ field.errors }}
        </div> 
      {% endfor %}   

      <button type="submit">Опубликовать объявление</button>

    </form>  
  {% endblock page_content %}