{% extends 'base.html' %}

{% block page_title %} {{ad.title}} {% endblock page_title %}

  {% block page_content %}
    <a href="{% url 'ad_list'%}">&larr;Назад</a>

    <h1>{{ad.title}}</h1>
    {% if ad.goods_image %}
      <img src="{{ ad.goods_image.url }}" alt="{{ ad.title }}" style="max-width: 300px; max-height: 200px;">
    {% endif %}  
    <p>{{ad.text}}</p>
    <p>{% if ad.price is not None %} Цена: {{ ad.price }} {% else %} Цена не указана {% endif %}</p>
    <p>{% if ad.contacts %} {{ ad.contacts }} {% else %} Контакты не указаны {% endif %}</p>
    <p>Дата публикации: {{ad.created_at|date:"d.m.Y H:i"}}<p>

  <a href="{% url 'edit_ad' ad.id %}">Редактировать объявление</a>

  <form method="POST" action="{% url 'delete_ad' ad.id %}">
      {% csrf_token %}

      <button type='submit'>Удалить объявление</button>
  </form>    
  {% endblock page_content %}