{% extends 'base.html' %}

{% block page_title %} {{ad.title}} {% endblock page_title %}

  {% block page_content %}
    <h1>Все объявления</h1>

      {% if ads %}
        {% for ad in ads%}
          <div class='ad-container' style = "text-align: center; border: 1px solid darkblue; margin: 20px; padding: 10px">
            {% if ad.goods_image %}
              <img src="{{ ad.goods_image.url }}" alt="{{ ad.title }}" style="max-width: 300px; max-height: 200px;">
            {% endif %}
            <h2>Название: <a href="{% url 'ad_details' ad_id=ad.id %}">{{ad.title}}</a></h2>
            <p>Текст: {{ad.text}}</p>
            <h3>Цена: {{ad.price}}</h3>
            <small>Дата публикации: {{ad.created_at}}</small>
          </div>
        {% endfor%}
      {% else %}
    <p>Объявления ещё никто не выложил! Будут завтра!</p>
    
      {% endif %} 
  {% endblock page_content %}