{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock page_title %}</title>
  <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>
<body>
  <header>Это пока только заготовка шапки
    <nav>
      <a href = "{% url 'ad_list' %}">Все объявления</a>
      <a href = "{% url 'ad_add' %}">Создать объявление</a>
    </nav>
  </header>
  <main>{% block page_content %}{% endblock page_content %}</main>
  <footer>&copy; Все права защищены законодательством РФ 2025</footer>
</body>
</html>