<div class="col-md-6 col-lg-4 mb-4 ad-card-container">
        <div class="card h-100">
          <!-- Изображение -->
          {% if ad.goods_image %}
          <img src="{{ ad.goods_image.url }}" class="card-img-top" alt="{{ ad.title }}"
            style="height: 200px; object-fit: cover;">
          {% endif %}

          <!-- Тело карточки -->
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'ads:ad_details' ad_slug=ad.slug %}" class="text-decoration-none">
                {{ ad.title }}
              </a>
            </h5>

            {% if request.user in ad.viewed_users.all %}
              <div class="badge bg-primary">Просмотрено</div>
            {% endif %}

            {% if user.is_authenticated  and request.user != ad.owner%}
              <button type="button" 
                class="btn btn-sm fav-btn {% if ad.id in favorite_ids %}btn-warning{% else %}btn-outline-warning{% endif %}"
                data-url="{% url 'ads:toggle_favorite' ad.id %}"
                data-is-favorites-page="{{ is_favorites_page|default:'false' }}">★
              </button>
            {% endif %}

            {% if request.user == ad.owner %}
            <p class="card-text">
                <small class="text-muted">Статус: {{ ad.get_status_display }}</small>
            </p>
            {% endif %}

            <p class="mb-0 small">
              <span class="text-muted me-2">Категория:</span>
              {% include 'ads/includes/category_chain.html' with category=ad.category is_final=True %}
            </p>

            <p>Теги: 
              {% for tag in ad.tags.all %}
                <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
              {% empty %}
              нет тегов
              {% endfor %}
            </p>

            <p class="card-text">{{ ad.text|truncatechars:150 }}</p>

            <div class="mb-2">
              {% if ad.price is not None %}
              <span class="badge bg-success fs-6">
                {{ ad.price }} ₽
              </span>
              {% else %}
              <span class="badge bg-secondary">Цена не указана</span>
              {% endif %}
            </div>
          </div>

          <!-- Футер карточки -->
          <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">
                <span class="date-field">{{ ad.created_at|date:"c" }}</span>
              </small>
              <a href="{% url 'ads:ad_details' ad_slug=ad.slug %}" class="btn btn-sm btn-outline-primary">
                Подробнее
              </a>
            </div>
          </div>
        </div>
      </div>